# Ignore service-account JSON keys
key/*.json
# Firebase service account keys
*.json
!firebase.json  # (if you have this config file and want to keep it tracked)


# But keep the folder placeholder
!key/.gitkeep

# Ignore node_modules
/node_modules/
