# Ignore all JSON keys inside the firebase-query-api/key directory
firebase-query-api/key/*.json

# But keep the .gitkeep file inside the key folder
!firebase-query-api/key/.gitkeep

# Ignore node_modules
/node_modules/
